* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

html,
body {
  width: 100%;
  height: 100%;
}

::selection {
  background: #6d00e4;
  color: #fff;
}

/* SLOT MACHINE */

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blurEffect {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(1px);
  }
}

@keyframes unblurEffect {
  0% {
    filter: blur(1px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes pushArm {
  0% {
    position: fixed;
    top: 17px!important;
    height: 65px!important;
  }
  100% {
    position: fixed;
    top: 45px!important;
    height: 2%!important;
  }
}

@keyframes releaseArm {
  0% {
    top: 45px!important;
    height: 2%!important;
  }
  100% {
    top: 17px!important;
    height: 65%!important;
  }
}

@keyframes pushArmKnob {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}

@keyframes releaseArm {
  0% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);

  }
}

@keyframes pushArmShadow {
  0% {
    top: 67px!important;
  }
  100% {
    top: 75px!important;
  }
}

@keyframes releaseArmShadow {
  0% {
    top: 75px!important;
  }
  100% {
    top: 67px!important;
  }
}

@keyframes pushRingShadow {
  0% {
    top: 0%!important;
    opacity: 0;
  }
  100% {
    top: 50%!important;
    opacity: 1;
  }
}

@keyframes releaseRingShadow {
  0% {
    top: 50%!important;
    opacity: 1;
  }
  100% {
    top: 0%!important;
    opacity: 0;
  }
}

@keyframes spinWheels {
  0% {
    transform: translateY(-28px);
  }
  50% {
    transform: translateY(-200px);
  }
  75% {
    transform: translateY(35px);
  }
  100% {
    transform: translateY(-28px);
  }
}

@keyframes stopSpinWheels {
  0% {
    transform: translateY(-28px);
  }
  50% {
    transform: translateY(-200px);
  }
  75% {
    transform: translateY(35px);
  }
  100% {
    transform: translateY(-28px);
  }
}

.blinkAnimation {
  animation: blink .2s linear;
}

.blurEffect {
  animation: blurEffect .1s ease-in forwards;
  animation-delay: .025s;
}

.unblurEffect {
  animation: unblurEffect .025s ease-out forwards;
  animation-delay: .05s;
}

.pushArmAnimation {
  animation: pushArm .5s linear forwards;
}

.releaseArmAnimation {
  animation: releaseArm .5s linear forwards;
}

.slotTriggerDown {
  background-position: 0px -17px;
}

.slotTriggerDisabled {
  background-position: 0px -34px;
  /* display: none; */
}

.spinWheels {
  animation: spinWheels .15s ease-in-out infinite;
}

.stopSpinWheels {
  animation: spinWheels .15s ease-in-out infinite;
}


/* PAY TABLE */

@keyframes showPayTable {
  0% {
    transform: scale(0, 0) translateX(0px);
  }
  50% {
    transform: scale(0.5, 0.5) translateX(30%);
  }
  100% {
    transform: scale(1, 1) translateX(0px);
    z-index: 99999;
  }
}

.showPaytable {
  animation: showPayTable .4s ease-in-out;
}

.BAR3 {
  transform: translateY(-28px)!important;
}

.BAR {
  transform: translateY(-87px)!important;
}

.BAR2 {
  transform: translateY(-144px)!important;
}

.SEVEN {
  transform: translateY(-209px)!important;
}

.CHERRY {
  transform: translateY(-270px)!important;
}